#left {
    text-indent: 160px;
    margin-top: 130px;
}

body {
    font-family: "Helvetica Neue";
    font-size: 15px;
}

#right, hr {
    margin: 0 0 0 1100px;
}

a {
    text-decoration: none;
    text-transform: lowercase;
}

h2 {
    text-align: center;
}

